*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  font-size: 16px;
  font-family: "Karla", sans-serif;
 
}


    
    .community { 
        padding: 40px;
        
    
      
    }

    .title{
        color: hsl(179, 62%, 43%);
        opacity:0.9 ;
        padding-bottom: 25px;
      
    }
    .subtitle{
        color: hsl(71, 73%, 54%) ;
        opacity: 0.9;
        padding-bottom: 16px;
        font-weight: bold;
    }
    .paragrap{
            color: hsl(218, 22%, 67%);
            line-height: 30px;
    }


.btn{
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    background-color:  hsl(71, 73%, 54%) ;
    color: hsl(204, 43%, 93%) ;
    text-decoration: none;
    border: none;
    border-radius:6px ;
    font-family: "Karla", sans-serif;
    padding: 15px;
    color: #fff;
}


.pago
{
    display: flex;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}

.sub{
padding: 40px;
background-color: hsl(179, 62%, 43%);
color: #fff;
}

.subscription{
padding: 20px;
opacity: 0.8;
}

.price{
    display:inline-flex ;
}
.pay{
    padding: 8px 0px 0px 12px;
    opacity: 0.5;
}

.dias{
    padding: 10px 0px 20px 0px ;
    opacity: 0.8;
}
    .lista{
        list-style-type: none;
    }
    .container{
        width:700px ;
        border-radius: 12px;
        box-shadow: 0 15px 20px 10px rgba(37,43, 70,0.1);
    }
    .Why-us{
        padding-top: 63px;
        color: #fff;
        background-color: hsl(179, 62%, 43%) ;
        opacity: 0.8;
        width: 500px;
    }
    .title-lista{
        padding-bottom: 3px;
        font-size: 16px;
        opacity: 0.7; 
        color: #fff;
        padding-left: 37px;
    }
    .item{
        padding-left: 30px;
        margin: 8px;
        opacity: 0.5;
    }
    .month{
        display: flex
    }
    @media(min-width:768px){
        .Why-us, .sub{
            width: 50%;
        }
    }
    @media(max-width:768px){
        .container{
            width: 90%;
            margin-top: 40px;
        }
        .pago{
            display: flex;
            flex-direction: column;
        }

        .Why-us, .sub{
            width: 100%;
                 }
        .community{
            padding-right: 20px;
        }

    }
    